[Unit]
Description=Hostapd IEEE 802.11 AP daemon with dynamic config
After=network.target

[Service]
Type=simple
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStartPre=/bin/sh -c 'while [ ! -e /sys/class/net/wlan0 ]; do sleep 1; done'
ExecStartPre=/usr/bin/generate-hostapd-conf.sh
ExecStart=/usr/sbin/hostapd /var/run/hostapd.conf
Restart=always

[Install]
WantedBy=multi-user.target
