# neon-openwrt-rc.service
[Unit]
Description=NeonWrt OpenWrt rc.d compatibility boot
Requires=neon-procd-ubus.service
After=neon-procd-ubus.service local-fs.target systemd-tmpfiles-setup.service systemd-udevd.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/neon-rc boot
ExecStop=/usr/libexec/neon-rc shutdown
RemainAfterExit=yes
TimeoutStartSec=0
TimeoutStopSec=90s

[Install]
WantedBy=multi-user.target