[Unit]
Description=NeonWrt procd ubus compatibility service
Requires=ubusd.service
After=ubusd.service
Before=neon-openwrt-rc.service

[Service]
Type=notify
NotifyAccess=main
ExecStart=/usr/sbin/neon-procd-ubus
Restart=on-failure
RestartSec=2
TimeoutStartSec=35s
TimeoutStopSec=15s

[Install]
WantedBy=multi-user.target
