[Unit]
Description=Getty on tty1
After=systemd-user-sessions.service plymouth-quit-wait.service rc-local.service

[Service]
ExecStart=/sbin/agetty --noclear --autologin root %I linux
Type=idle
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
