[Unit]
Description=Debug Shell
After=multi-user.target

[Service]
ExecStart=/usr/sbin/agetty --noclear --keep-baud --autologin root ttyAMA0 115200,57600,38400,9600 linux
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/ttyAMA0
Restart=always

[Install]
WantedBy=multi-user.target
