[Unit]
Description=Load OpenWrt kernel modules
After=local-fs.target
Before=network-pre.target
ConditionDirectoryNotEmpty=/etc/modules.d

[Service]
Type=oneshot
ExecStart=/sbin/kmodloader /etc/modules.d/
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target